/* LAYOUTS */
@import "./rows.css";
@import "./cols.css";

.row, .col {
    display: flex;
}

.container{
    margin-left: 15px;
    margin-right: 15px;
    background-color: aqua;
}

.container-fl{
    width: 100%;
    background-color: aqua;
}