
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding:20px;
    grid-gap: 40px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#1c1b29;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.18);
    border-radius: 4px;
    font-family: 'Lucida Sans';
}