h1 { font-size: calc(1em + 8vw); }

h2 { font-size: calc(1em + 7vw); }

h3 { font-size: calc(1em + 6vw); }

h4 { font-size: calc(1em + 5vw); }

h5 { font-size: calc(1em + 4vw); }

h6 { font-size: calc(1em + 3vw); }